.forgotPasswordWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color: unset;

  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.resetForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.forgotPasswordContainer {
  background-color: rgba(255, 255, 255, 0.05);

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);

  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.forgotPasswordContainer h1 {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
}

.errorMessage {
  color: var(--red);
  font-size: var(--hc-sm);
  text-align: center;
  padding: 10px;
}

.labelHolder {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.headerTop {
  margin-bottom: 3rem;
}

.inputBtn {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #8d8c8947;
  border-radius: 0.9rem;
  background-color: var(--lightgray);
  color: var(--font-color);
  font-size: 1rem;
}

.inputError {
  border-color: var(--primary-color);
}

.inputSuccess {
  border-color: #00800047 !important;
}

.forgotPasswordSubmit {
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: var(--font-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.forgotPasswordSubmit:disabled {
  background-color: #6c757d;
}

.header {
  font-size: var(--hc-md);
  color: #000000;
  font-family: var(--font-1);
  justify-self: center;
  align-self: center;
  margin-bottom: 2rem;
}
.inputWrapshit {
  display: flex;
  flex-direction: column;
}
.subheader {
  text-align: center;
  margin: 10px 0 30px;
}
.remembered a {
  color: var(--blue);
}
.remembered {
  text-align: center;
  margin: 10px;
  font-family: var(--font-1);
  font-size: var(--hc-sm);
}

@media screen and (max-width: 767px) {
  .forgotPasswordContainer {
    box-shadow: none;
  }
  .forgotPasswordWrapper {
    /* background: var(--white); */
  }
  .header {
    font-size: var(--hc-lg) !important;
  }
}
.successMessage {
  text-align: center;
  color: var(--font-color);
  padding: 1.7rem 0;
}
