.resetPasswordWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: unset;
}

.resetPasswordContainer {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.resetPasswordContainer h1 {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
}

.errorMessage {
  color: var(--red);
  text-align: center;
  padding: 1.2rem 0;
}

.labelHolder {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  max-height: 37px;
  align-items: center;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.inputBtn {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #8d8c8947;
  border-radius: 0.9rem;
  background-color: var(--lightgray);
  color: var(--black);
  font-size: 1rem;
}

.inputError {
  border-color: var(--red);
}

.inputSuccess {
  border-color: #00800047 !important;
}

.resetPasswordSubmit {
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.resetPasswordSubmit:disabled {
  background-color: #6c757d;
}

.resetForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.remembered {
  text-align: center;
  margin: 10px;
  /* font-family: var(--font-1); */
  font-size: var(--hc-sm);
}

.headerTop {
  margin-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .resetPasswordContainer {
    box-shadow: none;
  }
  .resetPasswordWrapper {
    background: var(--white);
  }
  .header {
    font-size: var(--hc-lg) !important;
    margin-bottom: 3rem !important;
  }
}
.successMessage {
  text-align: center;
  color: var(--font-color);
  padding: 1.7rem 0;
}
