.banner-image {
    height: 50vw;
    border-radius: 1rem;
    transform: translate(0);
  }
  
  .image-backdrop {
    background-color: var(--secondary-color);
  }
  
  .banner-content {
    z-index: 100;
    padding: 5vw;
  }
  
  .banner-heading {
    font-family: var(--heading-font);
    font-size: 9vw;
  }
  
  .banner-paragraph {
    font-family: var(--paragraph-font);
  }
  